<%= link_to("<< Back to List", enrolls_path, :class => 'back-link') %>

<div class="enrolls edit">
  <h2>Update Enrollment</h2>

  <%= form_for(@enroll) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= f.submit("Update Enrollment") %>
    </div>
  <% end %>
</div>
