<table summary="Course form fields">
  <tr>
    <th>Course ID</th>
    <td><%= f.text_field(:course_id) %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:description) %></td>
  </tr>
</table>
