<%= link_to("<< Back to List", courses_path, :class => 'back-link') %>

<div class="course show">
  <h2>Show Course</h2>

  <table summary="Student detail view">
    <tr>
      <th>Course ID</th>
      <td><%= @course.course_id %></td>
    </tr>
    <tr>
      <th>Course description</th>
      <td><%= @course.description %></td>
    </tr>
  </table>

</div>
